<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$type['seo_title']}-{$GLOBALS['SITE']['title']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="{$type['keywords']}"/>
    <meta name="description" content="{$type['description']}"/>
    {include="public/css.html"}
</head>
<body>
{include="public/header.html"}
<div id="fh5co-product-first">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>AI for AI</h3><p>人工智能综合数据解决方案</p>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-second">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="product-section">
                    <b>标注范例</b> 展示
                </h3>
                <p class="tags">
                    <span>包围盒</span><span>多边形</span><span>像素级</span><span>标签</span><span>快捷键</span><span>历史标注</span>
                </p>
                <div class="browser">
                    <div class="header">
                        <b></b><b></b><b></b>
                    </div>
                    <img src="/styles/default/images/sucai01.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-third">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <h3 class="product-section">
                    基于深度学习的 <b>自动标注算法</b>
                </h3>
                <p class="tags">
                    <span>定制</span><span>互动</span>
                </p>
                <div class="browser">
                    <div class="header">
                        <b></b><b></b><b></b>
                    </div>
                    <video autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="/styles/default/videos/sucai02.mp4" type="video/mp4"></video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-fouth">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <h3 class="product-section">
                    内置 <b>标注管理系统</b>
                </h3>
                <p class="tags">
                    <span>标注工作</span><span>团队</span><span>角色管理</span><span>活动</span><span>统计</span>
                </p>
                <div class="browser">
                    <div class="header">
                        <b></b><b></b><b></b>
                    </div>
                    <video autoplay="autoplay" muted="muted" preload="auto" loop="loop"><source src="/styles/default/videos/sucai03.mp4" type="video/mp4"></video>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-fifth">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <h3 class="product-section">
                    <b>神经网络</b> 数据训练及测试
                </h3>
                <p class="tags">
                    <span>模型区</span><span>整合模型</span><span>重复实验</span><span>指标和图表</span><span>迁移学习</span>
                </p>
                <div class="browser">
                    <div class="header">
                        <b></b><b></b><b></b>
                    </div>
                    <img src="/styles/default/images/sucai04.png" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-sixth">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <h3 class="product-section">
                    <b>不断改进</b> 的模型质量
                </h3>
                <p class="tags">
                    <span>主动学习</span><span>人工循环</span>
                </p>
                <section class="human-loop">
                    <div class="ring-box">
                        <div class="ring">
                            <svg height="300" width="300">
                                <circle stroke="#f5f4f9" fill="transparent" stroke-width="8" r="134" cx="150" cy="150"></circle>
                                <circle stroke="#ff9800" fill="transparent" stroke-dasharray="841.9468311620645 841.9468311620645" stroke-width="8" r="134" cx="150" cy="150" style="stroke-dashoffset:841.947;"></circle>
                                <circle stroke="#c8da00" fill="transparent" stroke-dasharray="841.9468311620645 841.9468311620645" stroke-width="8" r="134" cx="150" cy="150" style="stroke-dashoffset:841.947;"></circle>
                                <circle stroke="#24c72c" fill="transparent" stroke-dasharray="841.9468311620645 841.9468311620645" stroke-width="8" r="134" cx="150" cy="150" style="stroke-dashoffset:841.947;"></circle>
                            </svg>
                            <div class="card">
                                标注
                            </div>
                            <div class="card top">
                                培训
                            </div>
                            <div class="card right">
                                评估
                            </div>
                        </div>
                    </div>
                    <div class="rows">
                        <div class="card c1">
                            <span class="a">15 十一月</span><b>版本 1</b><span>1500<small>标注</small></span><span>88.9%<small>准确率</small></span><span class="q"><b>中等</b><small>质量</small></span>
                        </div>
                        <div class="card c2">
                            <span class="a">19 十一月</span><b>版本 2</b><span>3000<small>标注</small></span><span>93.2%<small>准确率</small></span><span class="q"><b>好</b><small>质量</small></span>
                        </div>
                        <div class="card c3">
                            <span class="a">26 十一月</span><b>版本 3</b><span>8000<small>标注</small></span><span>99.5%<small>准确率</small></span><span class="q"><b>完美</b><small>质量</small></span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-seventh">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <h3 class="product-section">
                    构建自定义 <b>深度学习通道</b>
                </h3>
                <section class="custom-loop">
                    <div class="img">
                        <img src="/styles/default/images/custom-00.jpg" class="" /><img src="/styles/default/images/custom-01.jpg" class="" /><img src="/styles/default/images/custom-02.jpg" class="" /><img src="/styles/default/images/custom-03.jpg" class="" /><img src="/styles/default/images/custom-04.jpg" class="" /><img src="/styles/default/images/custom-05.jpg" class="" /><img src="/styles/default/images/custom-05.jpg" class="" />
                    </div>
                    <div class="info">
                        <div class="row">
                            <b>1</b><span>输入图像</span>
                        </div>
                        <div class="row">
                            <b>2</b><span>使用DeepLab进行道路分割</span>
                        </div>
                        <div class="row">
                            <b>3</b><span>使用UNet进行裂缝分割</span>
                        </div>
                        <div class="row">
                            <b>4</b><span>补丁 &amp; 用YOLO探测孔</span>
                        </div>
                        <div class="row">
                            <b>5</b><span>补丁 &amp; 使用UNet进行孔分割</span>
                        </div>
                        <div class="row">
                            <b>6</b><span>后处理和业务应用程序</span>
                        </div>
                        <div class="row">
                            <b>7</b><span>最终结果：检验等级 -  25％</span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-product-eighth">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="product-section">
                    <b>企业服务</b>：高安全，高效率，定制化
                </h3>
                <p>
                    我们帮助客户进行集成并提供全面的技术支持
                </p>
                <p class="tags">
                    <span>内部部署</span><span>S3存储</span><span>云就绪</span><span>支持</span><span>API</span>
                </p>
                <img src="/styles/default/images/diagramm.png" /> <a href="/enterprise" class="btn btn-primary shadow"> 查看更多 企业服务 </a>
            </div>
        </div>
    </div>
</div>
{include="public/footer.html"}
{include="public/js.html"}
<script type="text/javascript" src="{$GLOBALS['styles']}js/product.js"></script>
</body>
</html>