<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$type['seo_title']}-{$GLOBALS['SITE']['title']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="{$type['keywords']}"/>
    <meta name="description" content="{$type['description']}"/>
    {include="public/css.html"}
</head>
<body>
{include="public/header.html"}
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-price-first">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>
                            专注于AI，让主管来做剩下的
                        </h1>
                        <h3>简单透明的定价</h3>
                        <section class="plans">
                            <div class="card mega">
                                <h3>社区版</h3>
                                <small class="text-muted">专为数据科学家和学生提供</small>
                                <div class="price">￥0<small>/月</small></div>
                                <div class="feature">研究人员专用</div>
                                <div class="feature">功能受限</div>
                                <div class="feature">非商业性</div>
                                <a href="javascript:void(0);" class="btn btn-primary">获取</a>
                            </div>
                            <div class="card mega">
                                <h3>商用版</h3>
                                <small class="text-muted">用于全面开发培训数据</small>
                                <div class="price">暂无定价</div>
                                <div class="feature">可用于外包</div>
                                <div class="feature">AI-驱动工具</div>
                                <div class="feature">API</div>
                                <a href="javascript:void(0);" class="btn btn-primary disabled">敬请期待</a>
                            </div>
                            <div class="card mega">
                                <h3>企业版</h3>
                                <small class="text-muted">用于企业内部托管</small>
                                <div class="price">联系获取定价</div>
                                <div class="feature">内部使用</div>
                                <div class="feature">优先支持</div>
                                <div class="feature">粒度权限</div>
                                <a href="/article_type/17" class="btn btn-primary">联系获取</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="fh5co-price-second">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text text-center">
                        <h2>
                            常见问题
                        </h2>
                    </div>
                    <div class="col-md-12 text-left faq">
                        <div class="col-md-5">
                            <h3>我们的数据安全吗？</h3>
                            <p>我们了解客户创建的项目的敏感性和专有性。因此，我们通过SSL加密所有通信。所有数据均安全存储。</p>
                            <h3>我可以和我的团队分享我的帐户吗？ </h3>
                            <p>每个受监控的订阅只供一个用户使用。如果您的组织中有人将为您监督使用，这是可以的，但不允许与其他组织共享帐户。</p>
                        </div>
                        <div class="col-md-5">
                            <h3>支持学校和非营利组织吗？</h3>
                            <p>如果您是非政府组织、学校或非营利组织，请给我们发一封电子邮件，我们可以免费为您提供一个帐户。</p>
                            <h3>我必须签合同吗？</h3>
                            <p>我们不需要签订任何复杂的合同。在监督登记过程中，您只需接受我们的条款和条件。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include="public/footer.html"}
    </div>
</div>
{include="public/js.html"}
</body>
</html>