<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$type['seo_title']}-{$GLOBALS['SITE']['title']}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="{$type['keywords']}"/>
	<meta name="description" content="{$type['description']}"/>
	{include="public/css.html"}
</head>
<body>
{include="public/header.html"}
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div class="fh5co-wrapper first mini-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>
							<b>博登智能</b> -- 致力于人工智能高科技
						</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>
							公司介绍
						</h2>
					</div>
				</div>
				<div class="row flex-row justify-content-center">
					<div class="col-md-8 text-left">
						<p>宁波博登智能科技有限公司是一家人工智能高科技公司，主要针对自动驾驶，人脸识别等领域提供数据采集，存储，清洗，标注，验证等全系列流程业务。</p>
						<p>已获得宁波市高新区2019年第一批优质创新创业项目，核心技术团队来自德国，拥有多年深度学习经验。宁波博登智能科技有限责任公司致力于成为人工智能领域的数据综合服务商。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-wrapper our-mission">
			<div class="container">
				<div class="row justify-content-center flex-row">
					<div class="col-md-6 text-center">
						<small>我们的业务</small>
						<h2>为人工智能公司提供所需的实战数据</h2>
						<p>长久的业务深造；更多的实战数据 -- 人工智能就越聪明；我们专注于尽可能高效地获取培训数据的方法。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2>
							管理团队
						</h2>
					</div>
				</div>
				<div class="row flex-row justify-content-center team">
					<div class="col-md-3 team-member">
						<div class="gradient-bg-icon image">
							<b><img src="/_nuxt/img/denis.cd88865.jpg"></b>
						</div>
						<h3>丹尼斯·德罗兹多夫</h3>
						<p>CEO</p>
					</div>
					<div class="col-md-3 team-member">
						<div class="gradient-bg-icon image"><b><img src="/_nuxt/img/max.2ce2c5a.jpg"></b></div>
						<h3>马克西姆·科洛梅琴科</h3>
						<p>CTO</p>
					</div>
					<div class="col-md-3 team-member">
						<div class="gradient-bg-icon image"><b><img src="/_nuxt/img/yy.2de7026.jpg"></b></div>
						<h3>尤里·鲍里索夫 </h3>
						<p>首席科学家</p>
					</div>
				</div>
			</div>
		</div>
		{include="public/footer.html"}
	</div>
</div>
{include="public/js.html"}
</body>
</html>