<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{$type['seo_title']}-{$GLOBALS['SITE']['title']}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="keywords" content="{$type['keywords']}"/>
	<meta name="description" content="{$type['description']}"/>
	{include="public/css.html"}
</head>
<body>
{include="public/header.html"}
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div class="fh5co-wrapper first mini-hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>智能工具</h1>
						<h3>语义分割是一项具有挑战性的任务。<br/>为了解决这一问题，我们必须使用综合的、智能的工具——我们还需要人工智能来提供帮助。</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-wrapper">
			<div class="container">
				<div class="row flex-row justify-content-center">
					<div class="col-md-10">
						<div class="shadow video-wrapper"><iframe src="https://www.youtube.com/embed/BrHeHP2BSwg?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe></div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-wrapper features">
			<div class="container">
				<div class="row flex-row justify-content-center">
					<div class="col-md-12 text-center">
						<h1>
							特点
						</h1>
					</div>
					<div class="col-md-4 feature">
						<img src="/uploads/2019/04/261209561568.png" alt="" />
						<h3>
							通用性
						</h3>
						<p>
							智能工具是类不可知论者——这意味着，同一个工具适用于任何类型的对象：汽车、鸟、树。
						</p>
					</div>
					<div class="col-md-4 feature">
						<img src="/uploads/2019/04/261210032463.png" alt="" />
						<h3>
							互动性
						</h3>
						<p>
							您可以通过指向不正确的区域来更正分段-智能工具将重新计算结果。
						</p>
					</div>
					<div class="col-md-4 feature">
						<img src="/uploads/2019/04/261210111109.png" alt="" />
						<h3>
							可训练性
						</h3>
						<p>
							智能工具只是另一个神经网络，所以你可以重新训练它以获得最佳效果。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-wrapper comparison">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>
							对比
						</h1>
						<p>快速示例智能工具比常规多边形工具更快。</p>
					</div>
				</div>
				<div class="row flex-row justify-content-center">
					<div class="col-md-6">
						<iframe src="https://www.youtube.com/embed/VyUwHbqJ26g?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
					</div>
					<div class="col-md-6">
						<iframe src="https://www.youtube.com/embed/8VF9F6TSRVw?rel=0&amp;showinfo=0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
		{include="public/footer.html"}
	</div>
</div>
{include="public/js.html"}
</body>
</html>