<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$type['seo_title']}-{$GLOBALS['SITE']['title']}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="{$type['keywords']}"/>
    <meta name="description" content="{$type['description']}"/>
    {include="public/css.html"}
</head>
<body>
{include="public/header.html"}
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        {$type['detail']}
        <div class="fh5co-wrapper first mini-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>
                            介绍视频
                        </h1>
                        <h3>当你可以展示所有的功能时，为什么要描述它们？</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <section class="menu">
                            {getdata data_table="navigators" data_ngid="$type['nid']"}<a href="#menu-{$v['nid']}">{$v['nname']} ·<small>{fun content_number($v['cmark'],$v['nid'])}</small></a>{/getdata}
                        </section>
                    </div>
                </div>
                {getdata data_table="navigators" data_ngid="$type['nid']"}
                <div class="row flex-row justify-content-center">
                    <div class="col-md-12 text-center">
                        <section class="category">
                            <a id="menu-{$v['nid']}"></a>
                            <h2 class="text-center">{$v['nname']}</h2>
                        </section>
                    </div>
                    {getdata data_table="article" data_nid="$v['nid']" mark="a"}
                    <div class="col-md-6">
                        <div class="video">
                            {if($a['gourl'])}
                            <a class="play-btn" data-video="{$a['gourl']}">
                                <img src="{$a['lipic']}">
                            </a>
                            {else}
                            <img src="{$a['lipic']}">
                            {/if}
                            <h3>{$a['title']}</h3>
                            <p>{$a['description']}</p>
                        </div>
                    </div>
                    {/getdata}
                </div>
                {/getdata}
            </div>
        </div>
        {include="public/footer.html"}
    </div>
</div>
{include="public/js.html"}
<script type="text/javascript" src="{$GLOBALS['styles']}js/jquery.smooth-scroll.js"></script>
<script type="text/javascript">
    $('section.menu a').smoothScroll({
        offset: -90
    });
</script>
</body>
</html>